### SQLite
    - RDBMS(관계형 데이터 베이스)
    - 서버가 아니라 응용 프로그램에 넣고 사용하는 가벼운 데이터베이스
    - python, 핸드폰, 스프링 부트

In [1]:
import sqlite3
import datetime

print("sqlite3 version", sqlite3.version)
print("sqlite3 version", sqlite3.sqlite_version)

now = datetime.datetime.now()   # 모듈명.클래스명.메소드명
nowDateTime = now.strftime("%Y-%m-%d %H:%M:%S")
print("date", nowDateTime)

sqlite3 version 2.6.0
sqlite3 version 3.42.0
date 2023-06-23 10:41:50

In [2]:
from datetime import datetime
print(datetime.now())   # 초는 밀리세컨드 단위까지 나옴

2023-06-23 10:46:35.998946

### 데이터베이스 생성
- 커넥션 받아서 DB 생성
- 커넥션을 통해서 커서를 얻어옴
- 커서를 통해서 sql 구문을 실행한다

In [3]:
conn = sqlite3.connect("/Users/youngkyung/pythonsource/resource/test.db",isolation_level=None)

In [4]:
cursor = conn.cursor()  # 커서를 생성해서 작업해야한다

In [5]:
cursor.execute("create table if not exists users(id integer primary key, username test, email text,"
               " phone text, website test, regdate text)")

In [14]:
cursor.execute("insert into users(id,username,email,phone,website,regdate) "
               "values(1,'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com',?)",(nowDateTime,)) # 물음표 처리 nowDateTime 튜플임 - 튜플 하나일 때 ,(콤마)넣어줘야 함

In [15]:
cursor.execute("insert into users(id,username,email,phone,website,regdate) "    # 데이터를 넣을 때 튜플 구조로 넣을 수 있음
               "values(?,?,?,?,?,?)",(2, 'Park', 'Park@naver.com', '010-4567-4567', 'Park.com',nowDateTime))

In [16]:
userList = ((3, 'Hong', 'Hong@naver.com', '010-3421-4321', 'Hong.com',nowDateTime),
            (4, 'Cho', 'Cho@naver.com', '010-2233-3344', 'Cho.com',nowDateTime),
            (5, 'Yoo', 'Yoo@naver.com', '010-5566-7788', 'Yoo.com',nowDateTime))

cursor.executemany("insert into users(id,username,email,phone,website,regdate) "  
               "values(?,?,?,?,?,?)", userList)

In [9]:
cursor.execute("delete from users") # auto commit 으로 바로 실행됨

In [13]:
# rowcount : 삭제된 행 개수

cursor.execute("delete from users").rowcount

5

##### 데이터 조회 - fetchone(), fetchmany(), fetchall()

In [32]:
cursor.execute("select * from users")

In [28]:
cursor.fetchone()   # 하나 가져옴

(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:50')

In [29]:
cursor.fetchmany(size=2)

[(2,
  'Park',
  'Park@naver.com',
  '010-4567-4567',
  'Park.com',
  '2023-06-23 10:41:50'),
 (3,
  'Hong',
  'Hong@naver.com',
  '010-3421-4321',
  'Hong.com',
  '2023-06-23 10:41:50')]

In [30]:
cursor.fetchall()

[(4,
  'Cho',
  'Cho@naver.com',
  '010-2233-3344',
  'Cho.com',
  '2023-06-23 10:41:50'),
 (5,
  'Yoo',
  'Yoo@naver.com',
  '010-5566-7788',
  'Yoo.com',
  '2023-06-23 10:41:50')]

In [33]:
for c in cursor.fetchall():
    print(c)

(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:50')
(2, 'Park', 'Park@naver.com', '010-4567-4567', 'Park.com', '2023-06-23 10:41:50')
(3, 'Hong', 'Hong@naver.com', '010-3421-4321', 'Hong.com', '2023-06-23 10:41:50')
(4, 'Cho', 'Cho@naver.com', '010-2233-3344', 'Cho.com', '2023-06-23 10:41:50')
(5, 'Yoo', 'Yoo@naver.com', '010-5566-7788', 'Yoo.com', '2023-06-23 10:41:50')

In [34]:
for c in cursor.execute("select * from users order by id desc"):
    print(c)

(5, 'Yoo', 'Yoo@naver.com', '010-5566-7788', 'Yoo.com', '2023-06-23 10:41:50')
(4, 'Cho', 'Cho@naver.com', '010-2233-3344', 'Cho.com', '2023-06-23 10:41:50')
(3, 'Hong', 'Hong@naver.com', '010-3421-4321', 'Hong.com', '2023-06-23 10:41:50')
(2, 'Park', 'Park@naver.com', '010-4567-4567', 'Park.com', '2023-06-23 10:41:50')
(1, 'Kim', 'kim@naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:50')

In [35]:
cursor.execute("select * from users where id=?", 3) 
cursor.fetchall()

ProgrammingError: parameters are of unsupported type

In [36]:
cursor.execute("select * from users where id=?", (3,)) # 물음표 처리 할때 하나 넣고싶다면 튜플의 형태로 넣는다 안그러면 에러
cursor.fetchall()

[(3,
  'Hong',
  'Hong@naver.com',
  '010-3421-4321',
  'Hong.com',
  '2023-06-23 10:41:50')]

In [37]:
cursor.execute("select * from users where id=%d" % 4) # %가 들어오는 형태라면(자리잡는 개념) 이런식으로
cursor.fetchall()

[(4,
  'Cho',
  'Cho@naver.com',
  '010-2233-3344',
  'Cho.com',
  '2023-06-23 10:41:50')]

In [38]:
cursor.execute("select * from users where id in (?,?)" , (3,5)) 
cursor.fetchall()

[(3,
  'Hong',
  'Hong@naver.com',
  '010-3421-4321',
  'Hong.com',
  '2023-06-23 10:41:50'),
 (5,
  'Yoo',
  'Yoo@naver.com',
  '010-5566-7788',
  'Yoo.com',
  '2023-06-23 10:41:50')]

In [39]:
cursor.execute("select * from users where id in (%d,%d)" % (3,5)) 
cursor.fetchall()

[(3,
  'Hong',
  'Hong@naver.com',
  '010-3421-4321',
  'Hong.com',
  '2023-06-23 10:41:50'),
 (5,
  'Yoo',
  'Yoo@naver.com',
  '010-5566-7788',
  'Yoo.com',
  '2023-06-23 10:41:50')]

In [40]:
cursor.execute("update users set username = ? where id = ?", ('Young',2))

In [42]:
cursor.execute("update users set username = '%s' where id = '%d'" % ('Park',2))

In [44]:
cursor.execute("delete from users where id=?", (5,))

In [45]:
cursor.execute("delete from users where id=%d" % 4)