### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

## 데이터 타입

### 1.Series(https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

<img src="https://bites-data.s3.us-east-2.amazonaws.com/series_spreadsheet.png" width="300" height="200">

pip install pandas

### 생성

#### 1) 리스트

In [1]:
list1 = [70,80,90]

In [2]:
import pandas as pd

ser = pd.Series(list1)
ser

0    70
1    80
2    90
dtype: int64

In [5]:
ser1 = pd.Series(list1,index=["국어","영어","수학"]) # 인덱스 지정 가능 (앞쪽 데이터,뒤에는 옵션)
ser1

국어    70
영어    80
수학    90
dtype: int64

#### 2) 딕셔너리

In [6]:
ser2 = pd.Series({"a":1,"b":2,"c":3})    # key 값이 인덱스가 됨
ser2

a    1
b    2
c    3
dtype: int64

#### Read

In [7]:
# index 조회

ser1.index  # index 만 알고 싶을때

Index(['국어', '영어', '수학'], dtype='object')

In [8]:
# values 조회
ser1.values # value 만 조회하고싶을때

array([70, 80, 90])

In [9]:
# values 에서 상위 5개만 조회 : head(), 갯수 지정 가능 head(3) - 앞에서 3개 가져온다
ser1.head(2)

국어    70
영어    80
수학    90
dtype: int64

In [10]:
# values 에서 끝 5개만 조회 : tail(), 갯수 지정 가능 tail(3)
ser1.tail()

국어    70
영어    80
수학    90
dtype: int64

In [12]:
# shape : 데이터 구조(행,열)
ser1.shape # 결과 값이 튜플로 나옴 (3,) - 3 행이라는 뜻

(3,)

#### Update

In [15]:
# index 변경

ser1.index = ["미술","음악","체육"]
ser1

미술    70
음악    80
체육    90
dtype: int64

In [19]:
# 데이터 타입 변경 :astype("변경할타입") => 원본 변경 안됨 - 자바의 string 개념 : 원본 데이터를 바꾸지 않음 - 바꾸러면 담아야 함

ser1 = ser1.astype("float64")

In [20]:
ser1

미술    70.0
음악    80.0
체육    90.0
dtype: float64

In [23]:
ser3 = pd.Series(["1.1","2.2","3.3"])   # 문자열이라 object 임 (판다스에서는 str 을 object 로 인식)
ser3

0    1.1
1    2.2
2    3.3
dtype: object

In [24]:
ser3 = ser3.astype("float64")
ser3

0    1.1
1    2.2
2    3.3
dtype: float64

In [25]:
ser4 = pd.Series(["test","2.2","3.3"])
ser4

0    test
1     2.2
2     3.3
dtype: object

In [26]:
ser4.astype("Float64")  # 변경할 수 없는 타입으로 valueError가 난다

ValueError: could not convert string to float: 'test'

In [22]:
# 특정 값 변경

ser1["음악"] = 85
ser1

미술    70.0
음악    85.0
체육    90.0
dtype: float64

In [28]:
ser1 = ser1.rename("점수")  # name 을 변경할 수 있다 (안줬다면)
ser1

미술    70.0
음악    85.0
체육    90.0
Name: 점수, dtype: float64

#### 삭제

In [30]:
del ser1["체육"]    # 인덱스 이용해서 행 삭제하는 개념이 가능

In [31]:
ser1

미술    70.0
음악    85.0
Name: 점수, dtype: float64

#### 3) ndarray

In [34]:
# numpy 데이터 타입 : ndarray (numpy - 라이브러리)

import numpy as np

ser5 = pd.Series(np.random.randn(4), index = list("abcd"))
ser5

a   -1.145068
b    0.273354
c    1.450760
d   -0.665312
dtype: float64

#### 4) DataFrame 이용

In [35]:
df = pd.DataFrame({"a":[1,2,3,4],"b":[5,6,7,8,]}) # 판다스에서 사용하는 데이터 담는 구조 - 데이터프레임은 시리즈가 여러개 묶인것
df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [36]:
ser5 = pd.Series(df['a'])
ser5

0    1
1    2
2    3
3    4
Name: a, dtype: int64